.InputForm {
    border-color: darkgray;
    height: 2rem;
    text-align: center;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 10px 10px 10px;;
    font-size: 1.3rem;
    color: red;
    font-weight: bold;
    border-style:groove;
    border-color: darkgray;
  }

  .Form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .InputWrapper {
    margin: 10px 0 10px 0;
    align-items: center;
    justify-content: center;
    display: flex;
  }

.CloseInfo {
    color: blue;
    margin-left: 20px;
    height: 20px;
    cursor: pointer;
  }

.FormError {
    color: red;
    margin: 20px 0 20px 50px;
    font-size: 1rem;
  }

  .wrapperFormButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 10px;
  }
  
  .FormButton:hover {
    background-color: rgb(130, 130, 130);
  }
 