@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 10px 0 10px;

    @include viewport--sm {
      flex-wrap: wrap;
    }
}

.InputWrapper {
    width: $viewport--lg;

    @include viewport--xl {
      width: $viewport--lg;
    }

    @include viewport--md {
      width: $viewport--md;
    }

    @include viewport--sm {
      width: $viewport--sm;
    }

    @include viewport--smd {
      width: $viewport--smd;
    }

    @include viewport--xs {
      width: $viewport--xs;
    }
  }

  .wrapperFormButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px 0;
  }
 