.App {
  margin-left: 20px;
  margin-top: 20px;
}

.ToDo {
  color: blue;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 20px;
}
