PORT=3100
DB_NAME=ToDoApp or Example name
DB_PORT=27017
DB_HOST=127.0.0.1
saltRounds=10
SESSION_SECRET=Session secret value
DATABASE_URL="postgres://user:secret@localhost:5432/mydatabasename"
jwtToken=some jwtToken
jwtRefreshToken=some jwtRefreshToken
tokenLife=some number
refreshTokenLife=some number
