.White {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: blue;
}

.Black {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: blue;
    background-color: black;
}

.Input {
    border-style:groove;
    border-color: darkgray;
    height: 2rem;
    text-align: center;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: red;
  }

.updateInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 10px 0 10px;
  }

  .Resolved {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
    margin-left: 20px;
  }

  .UnResolved {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
    margin-right: 20px;
  }

  .TaskName {
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 15px 20px 5px 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: red;
  }

  .ResolvedTaskName {
    text-decoration-line: line-through;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 15px 20px 5px 0;
  }
 