.taskWrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableWrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.White {
  background-color: white;
}

.Black {
  background-color: black;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}