.TaskCard {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.TaskNameCard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    margin-top: 20px;
}

.TaskDescription {
    display: flex;
    justify-content: center;
    align-items: center;
}