.Resolved {
  display: flex;
  align-items: center;
  justify-content: right;
}

.UnResolved {
  display: flex;
  align-items: center;
  justify-content: left;
}

.ResolveButton {
  color: blue;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 2rem;
  margin: 0 5px 0 0;
}

.UpdateButton {
  color: green;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 2rem;
  margin: 0 5px 0 0;
}

.DeleteButton {
  color: red;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 2rem;
  margin: 0 5px 0 0;
}

.CountButton {
  color: red;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 2rem;
  margin: 0 20px 0 20px;
}

.FormButton {
  color: green;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 2rem;
}

.Form {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Info {
  color: red;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.CloseInfo {
  color: blue;
  margin-left: 10px;
  height: 20px;
  cursor: pointer;
}

.Input {
  border-style:groove;
  border-color: darkgray;
  height: 2rem;
  text-align: center;
  border-radius: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 20px;
}

.TaskName {
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 20px;
}

.NoTasks {
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  color: red;
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: bold;
}

.ResolvedTaskName {
  text-decoration-line: line-through;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 20px;
}

div {
  height: 2.5rem;
}
