.Resolved {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
  margin-left: 20px;
}

.UnResolved {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  margin-right: 20px;
}

.ResolveButton {
  color: blue;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 2rem;
  margin: 0 5px 0 0;
}

.ResolveButton:hover {
  background-color: rgb(130, 130, 130);
}

.UpdateButton {
  color: green;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 2rem;
  margin: 0 5px 0 0;
}

.UpdateButton:hover {
  background-color: rgb(130, 130, 130)
}

.HideButton {
  color: rgb(96, 96, 96);
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 2rem;
  margin: 0 5px 0 0;
}

.HideButton:hover {
  background-color:rgb(163, 163, 163)
}

.DeleteButton {
  color: red;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 2rem;
  margin: 0 5px 0 0;
}

.DeleteButton:hover {
  background-color: rgb(130, 130, 130);
}

.FormButton {
  color: green;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 2rem;
}

.FormButton:hover {
  background-color: rgb(130, 130, 130);
}

.Info {
  color: red;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.InputForm {
  border-style:groove;
  border-color: darkgray;
  height: 2rem;
  text-align: center;
  border-radius: 5px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 20px;
  margin-top: 40px;
}

.TaskName {
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  color: red;
}

.NoTasks {
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  color: red;
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: bold;
}

.ResolvedTaskName {
  text-decoration-line: line-through;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 20px;
}

div {
  height: 2.5rem;
}
